// Estilos de pagina ESPACIOS


.contenedor_img_espacios{
    display: flex;
    margin-top: 15px;
    border-color:map-get($paleta_colores, "blanco") ;
      .h5_banio  {
        font-size: ($tam_fuente_espacios)+2;
        color: map-get($paleta_colores, "blanco");
        text-align: center;
        justify-content: center;
        text-shadow: $text_shadows_dos map-get($paleta_colores, "negro");
      }
        
     
    }
    


.p_uno_banio{
    font-size: $tam_fuente_espacios;
    color: map-get($paleta_colores, "blanco");
    text-align: center;
    justify-content: center;
    text-shadow:$text_shadows_uno map-get($paleta_colores, "negro");
       }
.p_dos_banio{
        font-size: ($tam_fuente_espacios)-1 ;
        color: map-get($paleta_colores, "blanco");
        text-align: center;
        justify-content: center;
        text-shadow: $text_shadows_uno map-get($paleta_colores, "negro");
    }






