 footer {
    .fuente_breadcrumb{
        color:map-get($paleta_colores, blanco ) !important ;
        list-style-type: none;
        text-decoration: none;
        
     }
     .fuente_breadcrumb_activo {
        color:map-get($paleta_colores, verde_borde ) !important ;
        list-style-type: none;
        text-decoration: none;
    
    }
     .contenedor_footer{
         background-color:map-get($paleta_colores, "gris");
       color: map-get($paleta_colores, "blanco");
        .boton_footer{
            background-color: map-get($paleta_colores, "blanco");
             color: map-get($paleta_colores, "negro");
             border: $bordes_uno map-get($paleta_colores, "negro");
             &:hover {
                 background-color: map-get($paleta_colores, "verde_hover");
                 color:map-get($paleta_colores, "negro");
                 border: $bordes_uno map-get($paleta_colores, "verde_borde");
                 .color_font_footer{
                     color: map-get($paleta_colores, "blanco");
                 }
                
             }
            
        }
     }
 }


