
    
    .seccion_carrusel_uno {
        padding-top: 20px;
        .carousel-item {
            height: 100%;
            .img_carrusel {
                border-radius: $bordes_radio_15;
                .seccion_dos {
                    background-color: $color_negro
                }
            }
        }
    }
    
  
    
  
    
   
