

         // VARIABLES PALETA DE COLORES
        $color_negro: black;
        $color_blanco: whitesmoke;
        $color_hover_boton: rgb(234, 239, 149);
        $color_hover_dos:rgb(234, 239, 149)  ;
        $color_gris:rgb(83, 80, 80);
        $color_borde:rgb(161, 210, 45);
        

        // VARIABLES TAMAÑO DE FUENTES /ESTILOS FUENTE
        $tam_fuente_nav:1.02rem;
        $tam_fuente_espacios: 3rem;
        $text_shadows_uno: 2px 2px 4px;
        $text_shadows_dos: 10px 1px 4px;

        //VARIABLES BORDES 
        $bordes_uno: 1px solid;
        $bordes_radio_15: 15px;


        //VARIABLES COLORES BACKGROUND 
        $bg_principal: $color_negro 


        